/* $Id$ */

.olControlPanel  {
    float:right;
    right: 0px;
    height: 30px; 
    width: 200px;
}
.olControlPanel div { 
  background-image: url("http://openlayers.org/api/theme/default/img/editing_tool_bar.png");
  background-repeat: no-repeat;
  float:right;
  width:  24px;
  height: 24px;
  margin: 5px;
}
.olControlPanel .olControlNavigationItemActive { 
  background-position: -103px -23px; 
}
.olControlPanel .olControlNavigationItemInactive { 
  background-position: -103px -0px; 
}
.olControlPanel .olControlDrawFeaturePointItemActive { 
  background-position: -77px -23px; 
}
.olControlPanel .olControlDrawFeaturePointItemInactive { 
  background-position: -77px -0px; 
}
